@import "tailwindcss";
@import "tw-animate-css";

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bungee:wght@400;700&display=swap");

body {
  font-family: "Lato", Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@theme inline {
  --text-2xs: 10px;
  --color-everies-primary-10: #1c352d;
  --color-everies-primary-20: #4a6b5d;
  --color-everies-primary-30: #8fa599;

  --color-everies-secondary-10: #faf9ee;
  --color-everies-secondary-20: #fcfbf4;
  --color-everies-secondary-30: #fefcf9;
  --color-everies-secondary-40: #dbe4c9;

  --color-everies-light-10: #faf7f3;
  --color-everies-light-20: #fcfaf7;
  --color-everies-light-30: #fefdfc;

  --color-everies-dark-10: #4a4b63;
  --color-everies-dark-20: #3e3f54;
  --color-everies-dark-30: #333446;

  --color-everies-pink-10: #e5beb5;
  --color-everies-pink-20: #d6a99d;

  --breakpoint-sm: 576px;
  --breakpoint-md: 748px;
  --breakpoint-lg: 848px;

  --font-bitcount: var(--font-bitcount);
}

@layer utilities {
  .flex-center {
    @apply flex justify-center items-center;
  }

  .flex-start {
    @apply flex items-start;
  }

  .flex-between {
    @apply flex justify-between items-center;
  }
}
