@import "tailwindcss";
@import "tw-animate-css";

@import url("https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..80&Nova+Flat&display=swap");

body {
  overflow-x: hidden;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

input::-ms-reveal {
  display: none !important;
}

input:-webkit-autofill {
  -webkit-background-clip: text;
  transition: background-color 5000s ease-in-out 0s;
}

@keyframes wiggle {
  0%,
  100% {
    transform: translateX(-1px);
  }
  50% {
    transform: translateX(2px);
  }
}

@theme inline {
  --text-2xs: 10px;

  --container-sm: 576px;
  --container-md: 748px;
  --container-lg: 848px;
  --container-xl: 1048px;

  --color-everies-primary-10: #1c352d;
  --color-everies-primary-20: #4a6b5d;
  --color-everies-primary-30: #8fa599;

  --color-everies-secondary-10: #faf9ee;
  --color-everies-secondary-20: #fcfbf4;
  --color-everies-secondary-30: #fefcf9;
  --color-everies-secondary-40: #dbe4c9;
  --color-everies-secondary-50: #a1bc98;

  --color-everies-light-10: #faf7f3;
  --color-everies-light-20: #fcfaf7;
  --color-everies-light-30: #fefdfc;

  --color-everies-dark-10: #4a4b63;
  --color-everies-dark-20: #3e3f54;
  --color-everies-dark-30: #333446;

  --color-everies-pink-10: #e5beb5;
  --color-everies-pink-20: #d6a99d;

  --breakpoint-xs: 360px;
  --breakpoint-sm: 576px;
  --breakpoint-md: 748px;
  --breakpoint-lg: 848px;
  --breakpoint-xl: 1048px;

  --font-bitcount: var(--font-bitcount);
  --font-nova: var(--font-nova);
  --font-funnel-sans: var(--font-funnel-sans);
  --animate-wiggle: wiggle 1s ease-in-out infinite;
}

@layer utilities {
  .bg-clothes {
    background-image: url("/images/everies/clothes.jpg");
    background-size: cover; /* Adjust as needed */
    background-position: center; /* Adjust as needed */
  }
  .flex-center {
    @apply flex justify-center items-center;
  }

  .flex-start {
    @apply flex items-start;
  }

  .flex-between {
    @apply flex justify-between items-center;
  }

  .h1-bold {
    @apply text-xs md:text-sm font-bold text-everies-primary-20;
  }
}

.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

.swiper-slide img {
  display: block;
  width: 100%;
}
